[
  (
    entity: 1,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -3,
          },
          "y": {
            "type": "i32",
            "value": -3,
          },
        },
      },
      {
        "type": "pong_planting::map::Brick",
        "struct": {},
      },
    ],
  ),
]