/*
Copyright (c) 2022 Yakkhini
Planting Pong is licensed under Mulan PSL v2.
You can use this software according to the terms and conditions of the Mulan PSL v2.
You may obtain a copy of Mulan PSL v2 at:
         http://license.coscl.org.cn/MulanPSL2
THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
See the Mulan PSL v2 for more details.
*/

[
  (
    entity: 40,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -6,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 41,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -5,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 42,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -4,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 43,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -3,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 44,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -2,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 45,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": -1,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 46,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 0,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 47,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 1,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 48,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 2,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 49,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 3,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 50,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 4,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 51,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 5,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),

  (
    entity: 52,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 6,
          },
          "y": {
            "type": "i32",
            "value": 3,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),
]
