/*
Copyright (c) 2022 Yakkhini
Planting Pong is licensed under Mulan PSL v2.
You can use this software according to the terms and conditions of the Mulan PSL v2.
You may obtain a copy of Mulan PSL v2 at:
         http://license.coscl.org.cn/MulanPSL2
THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
See the Mulan PSL v2 for more details.
*/

[
  (
    entity: 33,
    components: [
      {
        "type": "pong_planting::map::GridLocation",
        "struct": {
          "x": {
            "type": "i32",
            "value": 0,
          },
          "y": {
            "type": "i32",
            "value": 4,
          },
        },
      },
      {
        "type": "pong_planting::brick::Brick",
        "struct": {},
      },
    ],
  ),
]
